.memefree_hidden  {
	/*width: 100px;*/
	height: 30px;

	overflow: hidden;
/*
	transform: scale(0.2, 0.2);*/


	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}

.memefree_hidden:hover  {
	
	width: inherit;
	height: inherit;

/*	transform: scale(1, 1);*/
}