.inliner_forum_wrapper  {
	overflow: hidden;
	width: 100%;

	/* to keep the overlay in line */
	position: relative;


	box-shadow: #ccc 1px 1px 11px;

/*
	transform: scale(0.2, 0.2);*/


	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease
}

.inliner_forum_wrapper {
	height:0;
}

.inliner_forum_wrapper.inliner_opened,
.inliner_forum_wrapper iframe {

	width: 100%;
    min-height: 200px;
    height: calc(90vh - 60px);

}


.inliner_forum_wrapper iframe {
    /*margin-top: -62px; 
*/
    margin-top: -386px;/* hide the kadenze bar and the class header */
	height: calc((90vh - 60px) + 386px);

    border: 0;
}















.memefree_hidden:hover  {
	
	width: inherit;
	height: inherit;

/*	transform: scale(1, 1);*/
}


.memefree_hidden:after  {	
	content: " ";

	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	background: red;

	opacity:0.9;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+90 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



.memefree_hidden:hover:after  {	
	opacity: 0;

}

